* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #b4b4b41e;
    height: 100vh;
}

.navbar {
    height: 75px;
    background-color: #fff;
}


/* logo concept in navbar ...................................................................................................... */

.logo {
    height: 7rem;
    display: flex;
}

.logotag {
    margin-left: 11.9rem;
    margin-top: -0.01rem;
    margin-bottom: 2.25rem;
    font-size: 30px;
    width: 100%;
    height: -1rem;
    display: flex;
}

.logoimg img {
    width: 2rem;
    height: -1rem;
    margin-left: 12.5rem;
    margin-top: -4.45rem;
    display: flex;
}

.logoname img {
    width: 5rem;
    height: 1.5rem;
    margin-left: -4.5rem;
    margin-top: 2.5rem;
    background-color: black;
    border-radius: 5px;
    display: flex;
}


/* navtags like home ....................................................................................................... */

.navtag {
    display: flex;
    position: relative;
    margin-left: 45rem;
    margin-top: -5.5rem;
}

.navtag ul {
    list-style: none;
    position: absolute;
}

.navtag ul li {
    display: flex;
    position: relative;
    top: -0.9rem;
}

.navtag ul li a {
    padding: 1rem;
    text-decoration: none;
    font-size: 20px;
    font-style: italic bolder;
}

.dds {
    display: none;
    height: 5rem;
    width: 12rem;
    padding: 1rem;
}

.navtag ul li:hover .dds {
    display: block;
    position: absolute;
    right: 6rem;
    top: 2.5rem;
    /* border: 1px solid black;
    border-radius: 10px; */
    z-index: 1;
}

.dds ul {
    display: block;
}

.dds ul li {
    display: block;
}

.dds ul li a {
    display: block;
    color: #000000;
}

.btn {
    display: block;
    margin-left: 75rem;
    margin-top: -0.1rem;
}

.btn ul {
    list-style: none;
}

.btn ul li a {
    font-size: 21px;
    padding: 5px;
    margin: 1rem;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
}


/* main  contant  ...................................................................................................... */

.main-contant {
    height: 550px;
    /* border: 1px solid black; */
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-contant-heading {
    position: relative;
    top: 8rem;
    left: 10rem;
    font-size: 16px;
    display: inline-block;
}

.main-contant-heading h2 {
    position: relative;
    top: 1rem;
    min-width: 280px;
    font-size: 24px;
    font-weight: 600;
}

.main-contant-heading h2 span {
    position: relative;
}

.main-contant-heading h2 span::before {
    content: "Programming";
    color: rgb(54, 75, 197);
    animation: words 20s infinite;
}

.main-contant-heading h2 span::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: rgb(54, 75, 197);
    border-radius: 15px 0px 25px 0px;
    right: -8px;
    border-left: 2px solid rgb(54, 75, 197);
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to {
        border-left: 2px solid #ffeb3b00;
    }
}

@keyframes words {
    0%,
    20% {
        content: "Programming";
    }
    21%,
    40% {
        content: "Web Designing";
    }
    41%,
    60% {
        content: "App Designing";
    }
    61%,
    80% {
        content: "Video Editing";
    }
    81%,
    100% {
        content: "VFX";
    }
}

@keyframes typing {
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 8px);
    }
}

.main-contant-heading p {
    position: relative;
    top: 1.7rem;
    left: 0.2rem;
    font-size: 16px;
    color: black;
    display: inline-block;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-contant-heading-btn {
    position: relative;
    top: 5rem;
    left: -16.7rem;
    font-size: 18px;
    height: 3rem;
    padding: 1px 10px;
    background-color: #364bc5;
    font-weight: bolder;
    color: white;
    border: none;
    border-radius: 5px;
}

.main-contant-heading-btn span {
    color: #ffeb3b;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-content-pic {
    width: 600px;
    position: relative;
    right: -7rem;
    top: 1rem;
}

.main-content-pic img {
    border-radius: 30% 1% 30% 1%;
    width: 50%;
    height: 548px;
    width: 100%;
    position: relative;
}


/* divider 1 .................................................................................................*/

.divider1vid {
    height: 206px;
    /* background-color: #364bc5;  */
    background-color: #364bc5c6;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    position: sticky;
}

.divider1heading {
    position: absolute;
    left: 17rem;
    top: 0.5rem;
    width: 61rem;
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}

.divider1heading span {
    color: #ffeb3b;
}

.soft1 {
    height: 5rem;
    position: relative;
    left: -15rem;
}

.soft1 img {
    height: 8rem;
}

.soft2 {
    height: 5rem;
    position: relative;
    left: -8rem;
    top: -2rem;
    padding: 0;
    margin: 0;
}

.soft2 img {
    height: 12rem;
    padding: 0;
    margin: 0;
}

.soft3 {
    height: 5rem;
    position: relative;
    left: -3rem;
}

.soft3 img {
    height: 8rem;
}

.soft4 {
    height: 5rem;
    position: relative;
    left: 6rem;
}

.soft4 img {
    height: 8rem;
}

.soft5 {
    height: 5rem;
    position: relative;
    left: 15rem;
}

.soft5 img {
    height: 8rem;
}


/* divider 2 ........................................................................................................*/

.divider2web {
    display: block;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 40rem;
    margin-top: 5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.divider2web h2 {
    position: relative;
    left: 1rem;
    margin-top: 4rem;
    letter-spacing: 0.3rem;
    color: rgba(54, 75, 197, 0.873);
}

.divider2web h3 {
    position: relative;
    left: -2.5rem;
    margin-top: 1rem;
    letter-spacing: 0.3rem;
    font-size: 28px;
}

.divider2web p {
    position: relative;
    left: 0.3rem;
    margin-top: 1rem;
    letter-spacing: 0.3rem;
}

.divider2webbtn {
    background-color: #364bc5;
    border-radius: 15px;
    height: 3rem;
    width: 10rem;
    margin: 2rem;
    position: relative;
    left: 2.2rem;
    color: #fff;
    font-size: 20px;
}

.dev_pic {
    position: absolute;
    top: -11.7rem;
    left: -30rem;
    z-index: 1;
}


/* divider 3 ......................................................................................................... */

.divider3project {
    height: 700px;
    display: flex;
    background-color: #6674cc16;
}

.webdiv {
    left: -33rem;
    height: 88.5%;
    width: 560rem;
    margin-top: 6rem;
}

.webdiv h2 {
    position: relative;
    left: 25rem;
    top: -3rem;
    letter-spacing: 0.7rem;
    font-size: 24px;
    background-color: #ffeb3b;
    border-radius: 5rem;
    padding-left: 3rem;
}

.webdiv h2 span {
    color: #2413b8;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.webdiv h2 span::before {
    content: "";
    color: rgb(54, 75, 197);
    animation: words 20s infinite;
}

.webdiv h2 span::after {
    content: "";
    position: absolute;
    width: calc(100px + 8px);
    top: 1.6rem;
    height: 30px;
    background-color: #ffeb3b;
    border-radius: 0rem 0rem 15rem 15rem;
    right: -1px;
    animation: cursor .1s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to {
        /* border-left: 2px solid #ffeb3b; */
    }
}

@keyframes words {
    0%,
    20% {
        content: "Programming Projects";
    }
    21%,
    40% {
        content: "Web Design Projects";
    }
    41%,
    60% {
        content: "App Design Projects";
    }
    61%,
    80% {
        content: "Graphich Projects";
    }
    81%,
    100% {
        content: "CGI Projects";
    }
}

@keyframes typing {
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(99% + 8px);
    }
}

.webdiv p {
    position: relative;
    left: 11rem;
    top: -1rem;
    font-weight: 900;
    letter-spacing: 0.3rem;
    font-size: 20px;
}

.webdiv img {
    width: 25%;
    aspect-ratio: 3/2;
    object-fit: contain;
    position: relative;
    left: 2rem;
    padding: 1rem;
    top: -2rem;
}

.viddiv {
    left: -10rem;
    height: 88.5%;
    width: 560rem;
    margin-top: 4rem;
}

.viddiv p {
    position: relative;
    left: 7rem;
    top: 4.4rem;
    font-weight: 900;
    letter-spacing: 0.3rem;
    font-size: 20px;
}

.viddiv img,
video {
    width: 25%;
    aspect-ratio: 3/2;
    object-fit: contain;
    position: relative;
    left: 4rem;
    padding: 1rem;
    position: relative;
    top: 3.5rem;
}

.footer {
    height: 30rem;
    background-color: #6674cc;
    border-top: 2px solid black;
}

.mainfooter {
    margin-top: 1rem;
    display: flex;
    height: 30rem;
    text-align: center;
    color: #fff;
}


/* 
.footerdiv1 {
    background-color: #2413b8;
    width: 24rem;
    padding-top: 5rem;
}

.footerdiv2 {
    background-color: red;
    width: 24rem;
    padding-top: 5rem;
}

.footerdiv2 ul {
    display: none;
}

.footerdiv2 ul li {
    text-decoration: none;
}

.footerdiv3 {
    width: 24rem;
    background-color: black;
    padding-top: 5rem;
}

.footerdiv4 {
    width: 24rem;
    background-color: yellow;
    padding-top: 5rem;
} */